<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Admin Dashboard</h1>

<div class="dashboard">

    <div class="card">
        <h2>Total Orders</h2>
        <h1>{{ total_orders }}</h1>
    </div>

    <div class="card">
        <h2>Total Revenue</h2>
        <h1>₹{{ revenue }}</h1>
    </div>

    <div class="card">
        <h2>Total Customers</h2>
        <h1>{{ total_customers }}</h1>
    </div>

    <div class="card">
        <h2>Most Ordered Food</h2>
        <h3>{{ food_name }}</h3>
        <p>{{ food_count }} Orders</p>
    </div>

</div>

</body>
</html>